@import url('./main-layout.css');
@import url('./components/filter-layout.css'); html {
  --lumo-primary-color: hsl(214, 34%, 17%);
  --lumo-primary-color-50pct: hsla(214, 34%, 17%, 0.5);
  --lumo-primary-color-10pct: hsla(214, 34%, 17%, 0.1);
}
@import url('./views/list-all-view.css');    html {
      --lumo-primary-color: hsl(214, 34%, 17%);
      --lumo-primary-color-50pct: hsla(214, 34%, 17%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 34%, 17%, 0.1);

    }

    [theme~="dark"] {

    }
